.git
.github
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
kaggle.json
include/dataset/
.devcontainer/
service_account.json
soda/configuration.yml
.astro/
.airflowignore
dbt_packages/
logs/
include/dbt/target/
include/dbt/.user.yml
metabase-data/
include/soda/configuration.yml
tests/
include/dbt/profiles.yml
astro_README.md
packages.txt
RECIME.md